<nav class="navbar navbar-expand-md navbar-dark navbar-background fixed-top bg-dark">
  <div class="container-fluid logo-font">
    <span class="navbar-brand logo-font" href="#">"Milan"</span>
    <div class="w-50 me-3">
      <input type="search" class="form-control" placeholder="Search for gossips...">
    </div>


      <div class="d-flex align-items-center">


        <div class="flex-shrink-0 dropdown text-light">
          <button href="#" class="d-block link-dark text-decoration-none dropdown-toggle show btn btn-link text-light" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="true" (click)="handleClick()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
          </button>
          <ul *ngIf="show" class="dropdown-menu text-small shadow show" aria-labelledby="dropdownUser2" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-110px, 34px, 0px);" data-popper-placement="bottom-end" (mouseleave)="this.donotShow()">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
  </div>
</nav>
