<form [formGroup]='loginForm'>
<div>
  <div class="mb-3 small-padding">
      <label class="blue-text">User name</label>
      <input type="text" formControlName='username'  required  class="form-control" />
  </div>
</div>
<div>
  <div class="mb-3 small-padding">
      <label  class="blue-text">Password</label>
      <input type="password"  formControlName="password" class="form-control" />
  </div>
</div>
<div>
    <div class="input-container">
      <button type="submit"  (click)="handleLogin()" class="login-button">Login</button>
    </div>
</div>
<div>
  <div *ngIf="loginForm.invalid && loginForm.get('username').touched" class="mb-3 small-padding">
      <label class="red-text">please enter valid credentials</label>
  </div>
</div>
</form>
